.container {
  display: flex;
  gap: 24px;
  margin: 24px 40px 24px 0;
  color: white;
  font-size: 14px;
}

.likes,
.dislikes {
  display: flex;
  align-items: center;
  gap: 4px;
}

.like-icon,
.dislike-icon {
  width: 32px;
  height: 32px;
  background-color: purple;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--main-bg-gray);
}
